* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    padding-top: 20px;
}

.nav-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-1 .bxs-chevron-left {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    color: gray;
}

.nav-1 span {
    font-weight: 700;
}

.nav-2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-2 a {
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

.nav-3 {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-3 input {
    width: 250px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 20px;
    outline: gray;
}

.nav-3 .bx-search {
    position: absolute;
    left: 5px;
}

.nav-3 img {
    position: absolute;
    left: 205px;
}

.nav-4 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-4 div:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(37, 99, 235, 1);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.nav-4 div:nth-child(4) span {
    font-size: 15px;
}

.nav-4 #mh {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;  
    color:  rgba(37, 99, 235, 1);
    border: 1px solid  rgba(37, 99, 235, 1);
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.nav-4 .bx-x {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;  
    color:  gray;
    border: 1px solid  gray;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    font-weight: bold;
}

.main {
    display: flex;
}

/* ASIDE SECTION  */

.main-aside {
    display: flex;
    border-right: 1px solid gray;
}

.main-aside main {
    padding: 0px 20px;
}

/* USER SECTION */

.user-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(172, 171, 171);
    width: 270px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
}

.user-section div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-section div:nth-child(1) span {
    font-size: 15px;
    font-weight: bold;
}

.user-section div:nth-child(1) p {
    font-size: 12px;
    color: gray;
}

.user-section img {
    width: 40px;
    border-radius: 5px;
}

/* NAVIGATE SECTION */
.navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigate h3 {
    font-size: 15px;
    margin: 20px 0px;
}

/* DASHBOARD */

.dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(37, 99, 235, 1);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.dashboard div {
    display: flex;
    gap: 5px;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.projects div {
    display: flex;
    gap: 5px;
}

.notes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.notes div {
    display: flex;
    gap: 5px;
}

.files {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.files div {
    display: flex;
    gap: 5px;
}

.chats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.chats div {
    display: flex;
    gap: 5px;
}

.dashboard-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.dashboard-child div {
    display: flex;
    gap: 5px;
}

/* ASIDE FOOTER */

.aside-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(180, 175, 175);
    gap: 30px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 240px;
}

.aside-footer  .bx-phone{
    font-size: 30px;
    color: rgba(249, 115, 22, 1);
}

.aside-footer  .bx-envelope{
    font-size: 30px;
    color: rgba(34, 197, 94, 1);
}

.aside-footer  .bx-message-captions{
    font-size: 30px;
    color: rgba(168, 85, 247, 1);
}

.aside-footer  .bx-telegram{
    font-size: 30px;
    color: rgba(14, 165, 233, 1);
}

.aside-footer  .bx-whatsapp{
    font-size: 30px;
    color: rgba(42, 144, 79, 1);
}

/* SUB ASIDE SECTION */

.sub-aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 350px;   
    border-right: 1px solid gray;
    padding: 0px 10px;
}

.sub-aside-word {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.sub-aside-word span:nth-child(1) {
    width: 40px;
    height: 40px;
    font-size: 15px;
    border: 1px solid rgba(37, 99, 235, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 203, 203);
    color: rgba(37, 99, 235, 1);
    border-radius: 3px;
}

.sub-aside-word span:nth-child(2) {
    width: 40px;
    height: 40px;
    font-size: 15px;
    border: 1px solid rgba(22, 163, 74, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 203, 203);
    color: rgba(22, 163, 74, 1);
    border-radius: 3px;
}

.sub-aside-word span:nth-child(3) {
    width: 40px;
    height: 40px;
    font-size: 15px;
    border: 1px solid rgba(234, 88, 12, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 203, 203);
    color: rgba(234, 88, 12, 1);
    border-radius: 3px;
}

.sub-aside .bxs-chevron-left {
    width: 40px;
    height: 40px;
    font-size: 15px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 50px;
    font-size: 20px;
    color: gray;
}

.sub-aside-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.sub-aside-images img {
    width: 50px;
    border-radius: 50px;
}

/* MAIN DASHBOARD */

.main-dashboard {
    margin: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

/* HEADER SECTION */

.main-dashboard header {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.main-dashboard header span {
    font-size: 12px;
}

.list-tasks {
    display: flex;
    align-items: center;
    gap: 8px;
}

.boards {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(248, 246, 244);
    margin-left: 5px;
}

.calender {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gant {
    display: flex;
    align-items: center;
    gap: 10px;
}

.timeline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.activity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-btn {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 100px;
}

.search-btn input {
    width: 250px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 20px;
    outline: gray;
}

.search-btn .bx-search {
    position: absolute;
    left: 5px;
}

.search-btn img {
    position: absolute;
    left: 205px;
}

/* MAIN SECTION */

.first-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    gap: 20px;
    margin: 20px 20px;
}

.first-main .todo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
}

.first-main .todo div:nth-child(1) span:nth-child(1) {
    width: 10px;
    height: 10px;
    border: 1px solid rgba(8, 145, 178, 1);
    background: rgba(8, 145, 178, 1);
}

.first-main .todo div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.first-main .todo div:nth-child(1) span {
    font-size: 15px;
}

.first-main .todo div:nth-child(1) p {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.first-main .todo div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}



.first-main .in-work {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
}

.first-main .in-work div:nth-child(1) span:nth-child(1) {
    width: 10px;
    height: 10px;
    border: 1px solid rgba(202, 138, 4, 1);
    background: rgba(202, 138, 4, 1);
}

.first-main .in-work div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.first-main .in-work div:nth-child(1) span {
    font-size: 15px;
}

.first-main .in-work div:nth-child(1) p {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.first-main .in-work div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}



.first-main .review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
}

.first-main .review div:nth-child(1) span:nth-child(1) {
    width: 10px;
    height: 10px;
    border: 1px rgba(79, 70, 229, 1);
    background: rgba(79, 70, 229, 1);
}

.first-main .review div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.first-main .review div:nth-child(1) span {
    font-size: 15px;
}

.first-main .review div:nth-child(1) p {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.first-main .review div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}



.first-main .done {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
}

.first-main .done div:nth-child(1) span:nth-child(1) {
    width: 10px;
    height: 10px;
    border: 1px solid rgba(22, 163, 74, 1);
    background: rgba(22, 163, 74, 1);
}

.first-main .done div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.first-main .done div:nth-child(1) span {
    font-size: 15px;
}

.first-main .done div:nth-child(1) p {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.first-main .done div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* SECOND MAIN */

.second-main {
    
}

